:root {
  --hover-cta: #0038b1;
  --hover-font-1: #000000;
  --hover-bg-1: #00000017;
  --font-1: #2e2e2e;
  --font-2: #616161;
  --font-3: #ece3e3;
  --bg-1: #f2f5fa;
  --border: #575757;
  --cta: #1e4cb1;
}

.button {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  background: none;
  transition: 200ms ease;
}

.btn {
  border-radius: 2.5em;
  padding: 0.8em 2em;
  border: 1px solid var(--border);
}

a {
  text-decoration: none;
}

p {
  color: var(--font-1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  width: 30ch;
}
form input {
  padding: 1em 0.5em;
  border: 1px solid var(--border);
  outline: 0;
  background: transparent;
  border-radius: 3px;
}
form input:focus {
  border-color: var(--cta);
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}

.wrapper-1 {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-2 {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-text-1 {
  max-width: 84ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-text-2 {
  max-width: 60ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.01em;
}
body ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
header .logo {
  width: 100px;
  height: 100%;
  object-fit: contain;
}
header .logo img {
  width: 100%;
  transform: scale(1.75);
}
header .navbar {
  display: flex;
  align-items: center;
  gap: 1em;
}
header .navbar .navlist {
  display: flex;
  padding: 1em;
}
header .navbar #loginButton {
  color: var(--cta);
}
header .navbar #loginButton:hover {
  background: var(--hover-bg-1);
}
header .navbar #signupButton {
  background: var(--cta);
  color: var(--font-3) !important;
}
header .navbar #signupButton:hover {
  background: var(--hover-cta);
}
header .navbar #signupButton,
header .navbar #loginButton {
  padding: 0.8em 2em;
  border-color: var(--cta);
  font-weight: 500 !important;
}
header .navbar a {
  color: var(--font-2);
  font-size: 1rem;
  padding: 1em;
  transition: all 200ms ease;
}
header .navbar a:hover {
  color: var(--hover-font-1);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
main .hero {
  height: calc(100vh - 92px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--font-2);
}
main .hero .left {
  padding-inline-start: 2em;
  padding-block: 6em;
}
main .hero .left h1 {
  font-size: 2rem;
  font-weight: 400;
}
main .hero .left h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
main .hero .left .animated-text {
  color: var(--cta);
  position: relative;
}
main .hero .left .animated-text::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: var(--font-3);
  animation: blink 1000ms cubic-bezier(0, 1, 0, 1) infinite forwards;
}
main .hero .left .button {
  background: var(--cta);
  color: var(--font-3);
  border-color: var(--cta);
  border-width: 3px;
  margin-block-start: 2em;
}
main .hero .left .button:hover {
  background: var(--hover-cta);
}
main .hero .right img {
  width: 100%;
}
main .loginWindow {
  display: none;
  place-items: center;
  background: var(--hover-bg-1);
  backdrop-filter: blur(10px);
  position: fixed;
  inset: 0;
}
main .modal {
  position: relative;
  background: var(--bg-1);
  border-radius: 10px;
  box-shadow: 2px 6px 15px black;
  padding: 3em 2em;
}
main .modal h2 {
  color: var(--cta);
}
main .modal .button:hover {
  color: var(--cta);
}
main .modal p {
  text-align: center;
}
main .modal .cross-button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}
main .loginModal {
  display: none;
  align-content: center;
  gap: 1.5em;
}
main .loginModal form .btn {
  color: var(--cta);
  border-color: var(--cta);
}
main .loginModal form .btn:hover {
  background: var(--hover-bg-1);
}
main .signupModal {
  display: none;
  align-content: center;
  gap: 1.5em;
}
main .signupModal form .btn {
  color: var(--font-3);
  border-color: var(--cta);
  background: var(--cta);
}
main .signupModal form .btn:hover {
  color: var(--font-3);
  background: var(--hover-cta);
}

/*# sourceMappingURL=main.css.map */
