:root {
  --hover-cta: #0038b1;
  --hover-font-1: #000000;
  --hover-bg-1: #00000017;

  --font-1: #2e2e2e;
  --font-2: #616161;
  --font-3: #ece3e3;

  --bg-1: #f2f5fa;

  --border: #575757;

  --cta: #1e4cb1;
}
