@import "colors";
@import "utils";
@import "wrappers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.7;
  letter-spacing: 0.01em;

  ul {
    list-style-type: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em;

  .logo {
    width: 100px;
    height: 100%;
    object-fit: contain;

    img {
      width: 100%;
      transform: scale(1.75);
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 1em;

    .navlist {
      display: flex;
      padding: 1em;
    }

    #loginButton {
      color: var(--cta);

      &:hover {
        background: var(--hover-bg-1);
      }
    }

    #signupButton {
      background: var(--cta);
      color: var(--font-3) !important;

      &:hover {
        background: var(--hover-cta);
      }
    }

    #signupButton,
    #loginButton {
      padding: 0.8em 2em;
      border-color: var(--cta);
      font-weight: 500 !important;
    }

    a {
      color: var(--font-2);
      font-size: 1rem;
      padding: 1em;

      transition: all 200ms ease;

      &:hover {
        color: var(--hover-font-1);
      }
    }
  }
}

// Cursor Blinking Animation

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

main {
  .hero {
    height: calc(100vh - 92px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    // align-content: center;
    // align-items: center;
    color: var(--font-2);

    .left {
      padding-inline-start: 2em;
      padding-block: 6em;

      h1 {
        font-size: 2rem;
        font-weight: 400;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .animated-text {
        color: var(--cta);
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background: var(--font-3);
          animation: blink 1000ms cubic-bezier(0, 1, 0, 1) infinite forwards;
        }
      }

      .button {
        background: var(--cta);
        color: var(--font-3);
        border-color: var(--cta);
        border-width: 3px;
        margin-block-start: 2em;

        &:hover {
          background: var(--hover-cta);
        }
      }
    }

    .right {
      img {
        width: 100%;
      }
    }
  }

  .loginWindow {
    display: none;
    place-items: center;

    background: var(--hover-bg-1);
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0;
  }

  .modal {
    position: relative;
    background: var(--bg-1);
    border-radius: 10px;
    box-shadow: 2px 6px 15px black;
    padding: 3em 2em;

    h2 {
      color: var(--cta);
    }

    .button {
      &:hover {
        color: var(--cta);
      }
    }

    p {
      text-align: center;
    }

    .cross-button {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
    }
  }

  .loginModal {
    display: none;
    align-content: center;
    gap: 1.5em;

    form {
      .btn {
        color: var(--cta);
        border-color: var(--cta);

        &:hover {
          background: var(--hover-bg-1);
        }
      }
    }
  }

  .signupModal {
    display: none;
    align-content: center;
    gap: 1.5em;

    form {
      .btn {
        color: var(--font-3);
        border-color: var(--cta);
        background: var(--cta);

        &:hover {
          color: var(--font-3);
          background: var(--hover-cta);
        }
      }
    }
  }
}
