.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}

.wrapper-1 {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-2 {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-text-1 {
  max-width: 84ch;
  margin-inline: auto;
  padding-inline: 1rem;
}

.wrapper-text-2 {
  max-width: 60ch;
  margin-inline: auto;
  padding-inline: 1rem;
}
